.inicio-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(144deg,#060509ce, #372346c5 60%, #5d3b6ecb);
  position: relative;
  padding: 16px;
  left: 57rem;
  top: 12rem;
  width: 400px;
  height: 550px;
  border-radius: 10px;

}

.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.685);
  position: relative;
  padding: 16px;
  left: 32rem;
  top: -22.4rem;
  width: 400px;
  height: 550px;
  border-radius: 10px;

}

.fondo{
width: 100vw;
height: 50vw;
background-image: linear-gradient(144deg,#03045E, #023E8A 60%,#0077B6);
display: flex;
align-items: center;
justify-content: center;
}

.boton-container{
  
  align-items: center;
  background-image: linear-gradient(144deg,#8c4a9cce,  #a267aed3 50%, #5a455fd5);
  border: 0;
  border-radius: 20px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 15px;
  justify-content: center;
  line-height: 1em;
  max-width: 95%;
  min-width: 130px;
  padding: 17px 20px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
 

}